.container{
width:100%;
padding:2% 10px;
}
ag-grid-angular{
  width:100%;
  height: 80vh;
  margin:auto
}

h1{
  text-align: center;
}
.button_new{
display: flex;
align-items: center;
column-gap: 1%;
background-color: rgba(248, 157, 206, 0.637);
border-radius: 10px;
margin-bottom: 2%;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
